body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.main {
    width: 400px;
}

.main__cards {
    border: solid 1px;
    border-color:#ddd5f0;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 14px;
}

.main__cards--profile {
    display: flex;
    justify-content: space-between;
    padding: 0.50em;
}

.main__image--post {
    width: 100%;
}

.main__cards--profile-left {
    display: flex;
}

.main__cards--profile-img {
    border-radius: 25px;
    margin-right: 4px;
    height: 40px;
}

.main__cards--profile-id {
    position: relative;
    margin-top: 11px;
    font-weight: bold;
}

.main__cards--profile-ellipsis {
    position: relative;
    margin-top: 7px;
    width: 20px;
}

.main__cards--profile-img, .main__cards--profile-id, .main__cards--profile-ellipsis {
    cursor: pointer;
}

.main__icons {
    display: flex;
    justify-content: space-between;
    padding: 0.50em;
    padding-bottom: 0;

}

.main__comms {
    padding: 0 0.50em;
    line-height: 15px;
}

.main__icons-svg {
    margin-left: 10px;
}

.main__comms--like {
    font-weight: bold;
}

.main__icons--left, .main__icons--right {
    cursor: pointer;
}